/* Overall chatbox CSS */
.chat_window {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 51vh;

  /* Add a border around the chatbox */
  border: 2px solid gray
}

/* Chat message history CSS */
.chat_messages {
  /* CSS for chat message history */
  list-style-type: none;
  margin: 0;
  padding: 0;

  /* Gives the chat message history section a fix height; enables scrolling */
  height: 43vh;
  
  /* Automatically enables scrollbar when needed */
  overflow: auto;
}

/* Message list item CSS */
.chat_message {
  word-wrap: break-word;
}

/*
  Eric Florin: 2/18/22 4:44 PM
  
  webkit is an open source web browser engine that is mainly used
  by Safari and other official Apple apps.
  
  However, webkit is supported by the major browsers, expect Internet Explorer)
  See this article: https://css-tricks.com/almanac/properties/s/scrollbar/
  
  Below, I was using webkit to customize the scrollbar that would appear in the message
  history of the chat box.
  
  Could be useful for other CSS applications.
  */


/* CSS for chatbox message history scrollbar */
.chat_messages::-webkit-scrollbar {
  /* Overall scrollbar CSS */
  width: 5px;
}

.chat_messages::-webkit-scrollbar-thumb {
  /* CSS for scrollbar handle*/
  background: lightgray
}

.chat_messages::-webkit-scrollbar-thumb:hover {
  /* CSS for scrollbar handle when hovering over with mouse */
  /* background: rgb(0, 0, 0) */
}

.chat_messages::-webkit-scrollbar-track {
  /* CSS for scrollbar "track" that handle rides on */
  /* background: #999 */
}