
body {
  font: 14px "Redressed", Futura, sans-serif;
}
/* this gets rid of the default margin of react apps*/


ol, ul {
  padding-left: 30px;
}

.scram-board {
  margin-left: 20px;
  margin-top: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.pixel {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 0.7rem;
  height: 0.7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 0.7rem;
}

.pixel:focus {
  outline: none;
}

.scram {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scram-div {
  display: flex;
  flex-direction: row;
}

.profile {
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  direction: 'row-reverse';
  width:20%;
  background-color: rgb(228, 92, 13) ;
  height: 100vh;
}