.scram-board {
  margin-left: 20px;
  margin-top: 20px;
}

.scram {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scram-div {
  display: flex;
  flex-direction: row;
}

.right_sidebar {
  direction: 'row-reverse';
  height: 100vh;
}

.profile {
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  direction: 'row-reverse';
  width:100%;
  background-color: rgb(228, 92, 13) ;
  height: 50vh;
}

.chat {
  box-sizing: border-box;
  padding: 40px;
  text-align: left;
  direction: 'row-reverse';
  width: 100%;
  background-color: blue;
  height: 50vh; /* 50% of viewport will be chat */
}