.pixel {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 0.7rem;
  height: 0.7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 0.7rem;
}

.pixel:focus {
  outline: none;
}